
<% layout("/layouts/boilerplate") -%>
   
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

      <% for(let listing of allListings) { %> 
      <a href="/listings/<%= listing._id%>" class="listing-link">
        <div class="card" style="width: 18rem;">
          <img src="<%=listing.image.url %>" class="card-img-top" alt="listing_image" style = "height: 20rem"/>
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b> <%=listing.title %></b>
             
            <br>
          Rs <%=listing.price %> /night
          </p>
          </div>
        </div>
        <% } %>
    </div>

   



  
 
